
$fontSize : 14px;

.div1 {
    $fontSize : 20px !default;
    font-size:$fontSize;
}

.div2 {
    font-size:$fontSize;
}

.div3 {
    $fontSize : 20px ;
    font-size:$fontSize;
}

.div4 {
    font-size:$fontSize;
}
